@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 25, 91, 255;
  --warn: 255, 186, 0;
  --danger: 255, 71, 87;
  --success: 70, 201, 58;
  --dark: 30, 30, 30;
  --light: 244, 247, 248;
  --color: 17, 18, 20;
  --facebook: 59, 89, 153;
  --twitter: 29, 161, 242;
  --youtube: 255, 0, 0;
  --pinterest: 189, 8, 28;
  --linkedin: 0, 119, 181;
  --snapchat: 255, 252, 0;
  --whatsapp: 37, 211, 102;
  --tumblr: 54, 70, 93;
  --reddit: 255, 69, 0;
  --spotify: 30, 215, 96;
  --amazon: 255, 153, 0;
  --medium: 2, 184, 117;
  --vimeo: 26, 183, 234;
  --skype: 0, 175, 240;
  --dribbble: 234, 76, 137;
  --slack: 74, 21, 75;
  --yahoo: 67, 2, 151;
  --twitch: 100, 65, 164;
  --discord: 114, 137, 218;
  --telegram: 0, 136, 204;
  --google-plus: 219, 68, 55;
  --messenger: 0, 132, 255;
  --background: 255, 255, 255;
  --text: 44, 62, 80;
  --gray-1: 249, 252, 253;
  --gray-2: 244, 247, 248;
  --gray-3: 240, 243, 244;
  --gray-4: 230, 233, 234;
}

html {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  @apply text-[#2c3e50] bg-[#f5f5f5];
  font-size: 14.4px;
}

select {
  @apply truncate outline-none py-2.5 px-2 border rounded-[16px] hover:cursor-pointer;
}

//ボックス部分
input[type="date"] {
  @apply outline-none py-2.5 px-4 border rounded-[16px] hover:cursor-pointer;
}

button {
  @apply outline-none;
}

/*
|--------------------------------------------------------------------------
| ボタン
|--------------------------------------------------------------------------
*/
.btn {
  @apply text-white bg-primary hover:brightness-110 rounded-[12px] py-2 px-8 text-lg transition-all font-semibold;
  &:hover {
    box-shadow: 0 10px 20px -10px rgba(var(--primary), 1);
    transform: translateY(-3px);
  }
  &-border {
    @apply text-primary bg-primary bg-opacity-[15%] hover:bg-opacity-[25%] rounded-[12.8px] py-2 px-8 text-lg transition-all font-semibold;
  }
  &-easy {
    @apply text-success bg-success bg-opacity-[15%] hover:bg-opacity-[25%] rounded-[12.8px] py-2 px-8 text-lg transition-all font-semibold;
  }
  &-normal {
    @apply text-amazon bg-amazon bg-opacity-[15%] hover:bg-opacity-[25%] rounded-[12.8px] py-2 px-8 text-lg transition-all font-semibold;
  }
  &-hard {
    @apply text-twitter bg-twitter bg-opacity-[15%] hover:bg-opacity-[25%] rounded-[12.8px] py-2 px-8 text-lg transition-all font-semibold;
  }
  &-oni {
    @apply text-dribbble bg-dribbble bg-opacity-[15%] hover:bg-opacity-[25%] rounded-[12.8px] py-2 px-8 text-lg transition-all font-semibold;
  }
}
